@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrollAnimation {
  animation: scroll 30s linear infinite;
  display: flex;
}

.scrollAnimation:hover {
  animation-play-state: paused;
}